{% load permissions_widget_tags i18n %}

<table class="table permissions-widget">
    <thead>
        <tr>
            <th>{% trans 'App & Model' %}</th>
            {% for permission_type in default_permission_types %}
                <th>
                    {% blocktrans with translated_permission_type=permission_type|translate|capfirst %}{{ translated_permission_type }}{% endblocktrans %}
                </th>
            {% endfor %}
            <th>
                {% trans 'Other' %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
            {% ifchanged row.app %}
                <tr>
                   <th colspan="{{ default_permission_types|length|add:"2" }}">
                        {% blocktrans with translated_app=row.app|translate|capfirst %}{{ translated_app }}{% endblocktrans %}
                   </th>
                </tr>
            {% endifchanged %}

            {% ifchanged row.model %}
            <tr>
                <td>
                    {{ row.model|capfirst }}
                </td>
                {% for permission_type in default_permission_types %}
                    {% with row.permissions|get_item:permission_type as permission %}
                        <td>
                            {% if permission %}
                                <input name="{{ name }}" title="{{ permission.name }}" {% if permission.pk in value %}checked="checked"{% endif %} value="{{ permission.pk }}" type="checkbox" />
                                {% blocktrans with translated_permission_type=permission_type|translate|capfirst %}{{ translated_permission_type }}{% endblocktrans %}
                            {% endif %}
                        </td>
                    {% endwith %}
                {% endfor %}
                <td>
                    {% for permission_type in custom_permission_types %}
                        {% with row.permissions|get_item:permission_type as permission %}
                            {% if permission %}
                                <input name="{{ name }}" title="{{ permission.name }}" {% if permission.pk in value %}checked="checked"{% endif %} value="{{ permission.pk }}" type="checkbox" />
                                {{ permission.name }}
                                <br>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </td>
            </tr>
            {% endifchanged %}
        {% endfor %}
    </tbody>
</table>
