{% load permissions_widget_tags %}

<table class="table">
    <tr>
        <td></td>
        {% for permission_type in permission_types %}
        <th>
            {{ permission_type|capfirst }}
        </th>
        {% endfor %}
    </tr>

    {% for row in table %}
    <tr>
        <th>
            {{ row.model|capfirst }}
        </th>
        {% for permission_type in permission_types %}
            {% with row.permissions|get_item:permission_type as permission %}
            <td>
                {% if permission.value == None %}
                    <input type="checkbox" disabled="disabled" />
                {% else %}
                    <input name="{{ name }}" {% if permission.value in value %}checked="checked"{% endif %} value="{{ permission.value }}" type="checkbox" />
                {% endif %}
            </td>
            {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
